APP_KEY=
APP_URL=https://spkdesa-kibali.my.id
APP_DEBUG=false
LOG_LEVEL=warning

DB_DATABASE=spk_desa
DB_USERNAME=spk
DB_PASSWORD=
DB_ROOT_PASSWORD=

SESSION_DOMAIN=spkdesa-kibali.my.id
SESSION_SECURE_COOKIE=true

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=noreply@spk-desa.baliprov.go.id
