APP_KEY=
APP_URL=http://43.157.197.43

DB_DATABASE=spk_desa
DB_USERNAME=spk
DB_PASSWORD=
DB_ROOT_PASSWORD=

MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=noreply@spk-desa.baliprov.go.id
